.colorPicker:before {
	content: '';
	display: block;
	position: absolute;
	top: -20px;
	left: 5px;

	width: 0;
	height: 0;

	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #ffffff transparent;
}

.colorPicker {
	position: absolute;
	line-height: 0;

	background: #ffffff;

	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.5);
}

.colorPicker canvas {
	margin: 0.25rem;
}

.colorPickerPreview {
	display: inline-block;
	vertical-align: middle;

	width: 30px;
	height: 25px;

	margin: 0.25rem;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 3px;
}
